<br>
<br>
<section>
         <div class="container-fluid">
            <div class="row">
                <div class="col-md-12" style="padding: 0;">
                   <div class="map_section">
                     <div id="map">
                     </div>
                   </div>
                </div>
            </div>
         </div>
      </section>

      <!-- footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <ul class="social_icon">
                    <li><a href="#" class="fa fa-facebook"></a><b>Connect with Facebook</b></li>
                    <li><a href="#" class="fa fa-twitter"></a><b>Connect with Twitter</b></li>
                    <li><a href="#" class="fa fa-linkedin"></a><b>Connect with Linkin</b></li>
                    <li><a href="#" class="fa fa-youtube"></a><b>Connect with Youtub</b></li>
                    <li><a href="#" class="fa fa-instagram"></a><b>Connect with Instagram</b></li>
                    <li><a href="#" class="fa fa-skype"></a><b>Connect with Skype</b></li>
                                      </ul>
               </div>



               <div class="col-md-6">
                 <h3>Address:</h3>
                   Shop Number 4, Chetana Apartment Opp Janta Dudhwala Jawahar Nagar,Road No 2, Mumbai, Maharashtra 400062
<br>
<br>
                 <h3>Phone: 091528 98971</h3>
<br>
<br>
                 <h3>Shared your reviews</h3>
                 <input type="text">

               </div>
               </div>
               </div>






      </footer>


