<table class="city-container">
  <!-- <tr>
    <td><h1> Select City</h1></td>
    <td><h3> You will get cake delivered with in 2 hrs </h3></td>
  </tr> -->
  <tr>
    <td>
      <div>
        <img class="city-image" src="../../assets/image/city/delhi.png" alt="Delhi">
        <div class="city-im">Delhi</div>
      </div>
    </td>

    <td>
      <div>
        <img class="city-image" src="../../assets/image/city/gurgoan.png" alt="Gurgaon">
        <div class="city-im">Gurgaon</div>
      </div>
    </td>



    <td>
      <div>
        <img class="city-image" src="../../assets/image/city/hyderabad@2x.png" alt="Hyadrabad">
        <div class="city-im">Hyadrabad</div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div>
        <img class="city-image" src="../../assets/image/city/banglore@2x.png" alt="Banglore">
        <div class="city-im">Banglore</div>
      </div>
    </td>



    <td>
      <div>
        <img class="city-image" src="../../assets/image/city/aamchi mumbai@2x.png" alt="Mumbai">
        <div class="city-im">Mumbai</div>
      </div>
    </td>

    <td>
      <div>
        <img class="city-image" src="../../assets/image/city/pune_svg@2x.png" alt="Pune">
        <div class="city-im">Pune</div>
      </div>
    </td>
  </tr>
</table>
