<!-- <app-nav-bar></app-nav-bar> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"> Cakes </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!-- <a class="nav-link" routerLink="karwachaut">Karwachaut Cake </a> -->
        <a class="nav-link" (click)="gotopage()">Karwachaut Cake </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="wedding">Wedding Cake</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="baby">Baby Shower Cake</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="boss">Boss Day-B'dy Cake</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="ice">Ice Cake</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Custom">Custom Cake</a>
      </li>
    </ul>
  </div>
  <div>
    <h3 style="color: aliceblue;"><img style="height: 30px; width: 30px; margin-right: 5px;" src="../../assets/image/call.jpg" alt="Moblie number">
    Call Us -: 1234567890 </h3>
  </div>
</nav>

<router-outlet></router-outlet>
