.carousel-item{
  margin-top: 40px;
  margin-left: 30px;
  height: 300px;
  width: 50%;
  padding: 10px;
  border: 1px solid black;
}

.full{
  margin-top: 40px;
  border: 1px solid black;
}
h1{
  color: rgb(76, 0, 255);
  font-family: fantasy;
  text-decoration: underline;

}

.page{
  margin-top: 20px;
}

.logomade{
  margin-top: 20px;
  margin-left: 10%;
  height: 100px;
  width: 80%;
  position: relative;
  background-color: grey;
  border-radius: 5%;

}

.imgn{
  margin-top: 5px;
  padding: 5px;
  width: 80px;
  height: 80px;

}

body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 14px;
}

.dropdown-menu{
  overflow: hidden;
}
