 .carousel-item{
  margin-top: 40px;
  margin-left: 30px;
  height: 300px;
  width: 70%;
  padding: 10px;
  border: 1px solid black;
}

.full{
  margin-top: 40px;
  border: 1px solid black;
}
h1{
  color: rgb(76, 0, 255);
  font-family: fantasy;
  text-decoration: underline;

}

.page{
  margin-top: 20px;
}

.logomade{
  margin-top: 20px;
  margin-left: 10%;
  height: 100px;
  width: 80%;
  position: relative;
  background-color: grey;
  border-radius: 5%;

}

.imgn{
  margin-top: 5px;
  padding: 5px;
  width: 80px;
  height: 80px;

}

body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 14px;
}

.dropdown-menu{
  overflow: hidden;
}

.img{
  margin:6px 6px;
  border: 4px solid #eee;
  cursor: pointer;

     }
 .modal-content {
   width: 1000px !important;
 }
.imgshow { padding:0; width:1200px; margin:20px auto;margin-left: 80px}
 .imgli { display:inline;}
