<h2>Credit Card Payment</h2>
<!-- <form (ngSubmit)="onSubmit()" #form="ngForm"> -->
  <div>
    <img src="../../assets/image/carddetail.png" alt="CreaditCardDetail" style="height: 200px; width: 200px;">
  </div>
  <div>
  <label for="">Cardholder Name</label>
<input type="text">
</div>
<div>
<label for="">Card Number</label>
<input type="text">
</div>
<div>
  <label for="">Expire Date</label>
  <input type="text" placeholder="MM">
  /
  <input type="text" placeholder="YYYY">

  <label for="">CVC</label>
  <input type="text" placeholder="CVC">
  <img src="../../assets/image/kaewachaut/cvv.jfif" alt="CVV">
</div>

<!-- </form> -->


